.success,
.failed,
.pending {
    font-size: 16px;
    margin-left: 6px;
    cursor: default;
}
.success {
    color: green;
}

.failed {
    color: red;
}

.pending {
    color: orange;
}

.address {
    cursor: default;
    font-size: 10px;
    text-overflow: ellipsis;
    max-height: 60px;
    overflow: hidden;
    line-height: 12px;
    padding: 8px;
}
