<form [formGroup]="form" (submit)="submit($event)" autocomplete="off">
    <app-modal-header>{{modalData.product.product_name}}/Variant</app-modal-header>
    <app-modal-body>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Name" formControlName="sku_name">
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
                <mat-form-field class="full-width">
                    <mat-label>Product type</mat-label>
                    <mat-select formControlName="is_veg">
                        <mat-option *ngFor="let item of foodTypes" [value]="item.key">
                            {{item.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <mat-form-field class="full-width">
                    <input type="text" matInput placeholder="Price" formControlName="price">
                </mat-form-field>
            </div>
            <div class="col-xs-12 col-md-6">
                <mat-form-field class="full-width">
                    <input type="number" matInput placeholder="Unit" formControlName="no_of_unit">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <mat-form-field class="full-width">
                    <mat-label>Vendor</mat-label>
                    <mat-select formControlName="vendorid">
                        <mat-option *ngFor="let item of vendors" [value]="item.vendor_id">
                            {{item.category_name}} - {{item.shop_name}} ({{item.name}})
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div formArrayName="variant" class="variant">
            <div class="row">
                <div class="col-xs-12">
                    <div class="heading2">
                        Product properties <small>(displayed as product description)</small>
                    </div>
                </div>
            </div>
            <ng-container *ngFor="let variantControl of variants()?.controls; let i = index">
                <div class="row" [formGroupName]="i">
                    <div class="col-xs-12 col-md-6">
                        <mat-form-field class="full-width">
                            <input type="text" placeholder="Property, eg. Weight" aria-label="Property" matInput
                            formControlName="key" [matAutocomplete]="auto" (keyup)="filterOptions($event)" (change)="resetAutocomplete()">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <mat-form-field class="full-width">
                            <input type="text" matInput placeholder="Value, eg. 1 kg" formControlName="value">
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-md-1">
                        <button mat-icon-button (click)="removeProperty(i)" matTooltip="Remove Property" color="warn"
                            style="right: 16px" [disabled]="variants()?.controls.length == 1">
                            <mat-icon style="font-size: 16px;">clear</mat-icon>
                        </button>
                    </div>
                </div>
            </ng-container>
            <button mat-button color="primary" (click)="addProperty()">
                <mat-icon>add</mat-icon> Add another property
            </button>
        </div>
        <div class="row">            
            <div class="col-xs-12">
                <div class="full-width" style="margin-top: 8px;">
                    <mat-label>Upload variant image</mat-label>
                    <app-file-browser [fileTypes]="['.jpg', '.jpeg', '.png']" (change)="fileChanged($event)">
                    </app-file-browser>
                    <mat-chip-list aria-label="photo" *ngIf="form?.get('filenames')?.value?.length > 0">
                        <mat-chip color="accent" *ngFor="let file of form.get('filenames').value" [removable]="true"
                            matTooltip="Remove image" (removed)="removeFile(file)">
                            {{file|textTruncate:24}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
    </app-modal-body>
    <app-modal-action>
        <button mat-raised-button color="primary" (click)="submit($event)"
            [disabled]="_ProgressBarService.inProgress() || form.invalid">Save</button>
    </app-modal-action>
</form>