<div class="row">
    <div class="col-xs-6">
        <button mat-button color="primary" (click)="add()">
            <mat-icon>add</mat-icon> Add Banner
        </button>
    </div>
    <div class="col-xs-6" style="text-align: right;">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search" autocomplete="off" #input>
        </mat-form-field>
    </div>
</div>
<div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element">
                <span [ngClass]="{'deleted':element.is_deleted}">{{element.name}}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="image" mat-sort-header>
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element">
                <img [src]="_UploaderService.getImage(element.image)" height="40" appImgFallback>
            </td>
        </ng-container>

        <ng-container matColumnDef="updated_at">
            <th mat-header-cell *matHeaderCellDef> Updated </th>
            <td mat-cell *matCellDef="let element"> {{element.updated_at|date}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="width: 160px;"> Action </th>
            <td mat-cell *matCellDef="let element">                
                <button mat-button color="primary" aria-label="Remove Banner" (click)="remove(element)" [disabled]="element.is_deleted === 1 || element.is_active === 1">
                    <mat-icon>delete</mat-icon> Remove
                </button>
                <button mat-button color="primary" aria-label="Edit Banner" (click)="edit(element)" [disabled]="element.is_deleted === 1">
                    <mat-icon>{{element.is_active ? 'check_circle':'highlight_off'}}</mat-icon>
                    {{element.is_active ? 'Active':'Inactive'}}
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
</mat-paginator>